@using shopping_tutorial.Models.CartViewModels
@model CartViewModel

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					@if (Model.CartItem != null && Model.CartItem.Any())
					{
						@foreach (var item in Model.CartItem)
						{
							
							<tr>
								<td class="cart_product">
									<a href=""><img width="120px" src="~/@item.Imager" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href="">@item.ProductName</a></h4>
									
								</td>
								<td class="cart_price">
									<p>@item.Price</p>
								</td>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
										<a class="cart_quantity_up" asp-controller="Cart" asp-action="QuantityUp" asp-route-id="@item.ProductId" > + </a>
										<input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
										<a class="cart_quantity_down" asp-controller="Cart" asp-action="QuantityDown" asp-route-id="@item.ProductId"> - </a>
									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price">@item.TotalPrice</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" asp-action="QuantityDelete" asp-controller="Cart" asp-route-id="@item.ProductId"><i class="fa fa-times"></i></a>
								</td>
							</tr>
						}
						<tr><td colspan="6">Grand Total: @Model.GrandTotal.ToString("C")</td></tr>
					}
					else
					{
						<tr><td colspan="6">Your cart is empty.</td></tr>
					}
					

				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->