@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "List Product";
}
<h3>List Product - <a asp-controller="Product" asp-action="Create">Create</a></h3>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Imager</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var item in Model){
            <tr>
                <td scope="row">@item.Id</td>
                <td scope="col">@item.Name</td>
                <td>@item.Description</td>
                <td><img width="100px" src="~/@item.Imager" /></td>
                <td scope="col">@item.Price</td>
                <td scope="col">@item.Category.Name</td>
                <td scope="col">@item.Brand.Name</td>
                <td scope="col"><a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">Edit</a>| <a asp-controller="Product" class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
        

    </tbody>
</table>

@section Scripts {
   
  
    <script src="~/js/uploadChange.js"></script> 
}